body.home .row .col.col-1 {
  order: -1;
}
body.home section {
  min-height: 100vh;
}
body.home section#intro article h1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  overflow: hidden;
  font-size: 2rem;
}
body.home section#intro article h1 span {
  display: block;
  width: 2ch;
  max-width: max-content;
  overflow: hidden;
  transition:
    width var(--transition-duration) var(--transition-easing),
    opacity var(--transition-duration) var(--transition-easing);
}
body.home section#intro article h1 .name {
  width: 0;
  opacity: 0;
  animation: 3s ease-in-out disappear;
}
body.home section#intro article h1 .mail {
  animation: 3s ease-in-out appear;
}
body.home section#intro article h1:hover .name {
  width: 2ch;
  opacity: 1;
}
body.home section#intro article h1:hover .mail {
  width: 0;
  opacity: 0;
}
@keyframes appear {
  0% {
    width: 0;
    opacity: 0;
  }
  66% {
    width: 0;
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    width: 2ch;
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    width: 2ch;
    opacity: 1;
  }
  66% {
    width: 2ch;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
body.home footer #contact-mail {
  text-align: center;
  margin: 0;
  padding: calc(2 * var(--gap-rel)) 0;
}

body.home footer section,
body.home footer section .wrapper {
  height: 100%;
}
body.home footer section .wrapper article {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  padding-top: var(--gap-rel);
}

/* desktop */
@media (min-width: 768px) {
  body.home .row .col.col-1 {
    order: 0;
  }
  body.home section#intro article h1 {
    font-size: 3rem;
  }
}
