:root {
  color-scheme: light dark;
  --gap: 11px;
  --gap-rel: 2rem;
  --page-max-size: 960px;
  --page-min-size: 320px;

  --serif: "Times New Roman", serif;
  --sans-serif: "Arial", sans-serif;
  --monospace: "Courier New", monospace;

  --transition-duration: 0.5s;
  --transition-easing: ease-in-out;
}
* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--serif);
  font-size: 20px;
  line-height: 1.77;
  color: var(--fg);
  background: var(--bg);
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
}
h1 {
  width: 100%;
  font-family: var(--sans-serif);
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0 0 2rem 0;
  padding: 0;
  text-shadow: 1px 2px var(--alt-fg);
}
h2 {
  width: 100%;
  font-family: var(--sans-serif);
  font-size: 2.5rem;
  margin: 0 0 1.25rem 0;
  padding: 0;
  text-shadow: 1px 2px var(--alt-fg);
}
h3 {
  width: 100%;
  font-size: 1.5rem;
  margin: 0 0 0.75rem 0;
  padding: 0;
}
h4,
p,
li {
  width: 100%;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  padding: 0;
}
h4 {
  color: var(--alt-fg);
}
p {
  text-align: justify;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
  cursor: pointer;
  color: var(--fg);
  text-decoration: underline 1px;
}
a:visited {
  color: var(--alt-fg);
}
a:hover,
a:focus,
a:active {
  color: var(--off-fg);
  text-decoration: underline 2px;
}
button,
.button {
  cursor: pointer;
  font-family: var(--sans-serif);
  font-size: 1rem;
  text-decoration: none;
  margin: 0;
  padding: calc(2 * var(--gap)) calc(4 * var(--gap));
  color: var(--off-fg);
  background: var(--alt-bg);
  border: 1px solid var(--off-bg-2);
}
button:hover,
.button:hover,
button:focus,
.button:focus,
button:active,
.button:active {
  background: var(--off-bg-2);
  text-decoration: none;
  box-shadow: 0 0 1px 2px var(--off-bg-2);
}
small,
figcaption {
  font-size: 0.85rem;
  margin: 0;
  padding: 0;
  color: var(--off-fg);
}
figure {
  margin: var(--gap) auto;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
figcaption {
  width: 100%;
  text-align: center;
  margin: var(--gap) 0;
}
ul,
ol {
  margin: 0 0 0.5rem 0;
  padding: 0 var(--gap) 0 calc(2 * var(--gap));
}
ul {
  list-style: square;
}
code {
  font-family: var(--monospace);
  margin: 0;
  padding: 0;
}
code:has(pre) {
  width: 100%;
  margin: var(--gap-rel) 0;
  padding: var(--gap);
  border: 1px solid var(--alt-bg);
}
code pre {
  overflow-x: scroll;
}
hr {
  width: 100%;
  margin: var(--gap-rel) 0;
  padding: 0;
  border-color: var(--alt-bg);
}
img {
  max-width: 100%;
  height: auto;
  filter: var(--img-filter);
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.half {
  float: left;
  width: 50%;
}
.highlight-fg {
  text-shadow: 1px 2px var(--off-bg) !important;
}
.highlight-bg {
  background: var(--off-bg-2);
  border: 1px solid var(--alt-bg);
  padding: var(--gap);
}
