.tags {
  width: 100%;
  margin: 0 0 var(--gap) 0;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);
}
.tags span {
  font-family: monospace;
  padding: calc(var(--gap) / 2) var(--gap);
  white-space: nowrap;
  background: var(--off-bg-2);
  border: 1px solid var(--alt-bg);
}
section:first-of-type h3,
section:first-of-type h4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: var(--gap-rel);
}
section:first-of-type h3 {
  column-gap: var(--gap-rel);
}
section:first-of-type h4 {
  column-gap: var(--gap);
}
section:first-of-type h3 span,
section:first-of-type h4 span {
  white-space: nowrap;
}
section:first-of-type h3 span::before {
  content: "» ";
}
