#cv-controls {
  position: fixed;
  left: var(--gap);
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);
  z-index: 1;
}
#cv-controls button,
#cv-controls .button {
  padding: 0 var(--gap);
  margin: 0;
}
.redacted {
  background: var(--fg);
  color: var(--fg);
}
.tags {
  width: 100%;
  margin: 0 0 var(--gap) 0;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);
}
.tags span {
  font-family: monospace;
  padding: calc(var(--gap) / 2) var(--gap);
  white-space: nowrap;
  background: var(--off-bg-2);
  border: 1px solid var(--alt-bg);
}
section#intro h3,
section#intro h4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: calc(2 * var(--gap));
}
section#intro h3 span,
section#intro h4 span {
  white-space: nowrap;
}
@media (min-width: 768px) {
  #cv-controls {
    left: 0;
    bottom: var(--gap);
    flex-direction: column;
  }
}
