body.list p.button-container {
  text-align: center;
  margin: var(--gap-rel) 0;
}
body.list p.button-container .button {
  display: inline-block;
  width: 100%;
}
@media (min-width: 800px) {
  body.list p.button-container .button {
    width: auto;
  }
}
body.list footer section article {
  padding: var(--gap) 0;
}
body.list footer section article p {
  margin: 0;
}
