.tags {
  width: 100%;
  margin: 0 0 1rem 0;
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}
.tags span {
  font-family: monospace;
  font-size: 0.75rem;
  padding: 2px 4px;
  white-space: nowrap;
  background: var(--off-bg);
  border: 1px solid var(--off-off-bg);
}
section:first-of-type {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  /* border-bottom: 1px solid var(--off-bg); */
}
section:first-of-type h3,
section:first-of-type h4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
section:first-of-type h3 {
  gap: 1rem;
}
section:first-of-type h3 span,
section:first-of-type h4 span {
  white-space: nowrap;
}
section:first-of-type h4 span {
  margin: 0 1rem 0 0;
  font-weight: normal;
}
section:first-of-type h3 span::before {
  content: "» ";
}
section:first-of-type h4 span::before {
  content: "|";
  margin: 0 1rem 0 0;
}
section:first-of-type h4 span:first-of-type::before {
  content: none;
}
