/* variables */
:root {
  color-scheme: light dark;
  --gap: 8px;
  --gap-rel: 1rem;
  --page-min-size: 320px;
  --page-max-size: 960px;

  --serif: "Times New Roman", serif;
  --sans-serif: Arial, sans-serif;

  --transition-duration: 0.5s;
  --transition-easing: ease-in-out;
}
* {
  box-sizing: border-box;
}

/* document */
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--serif);
  font-size: 18px;
  line-height: 1.618;
  color: var(--fg);
  background: var(--bg);
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
}

/* base elements */
h1 {
  width: 100%;
  font-family: var(--sans-serif);
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0 0 2rem 0;
  padding: 0;
  text-shadow: 1px 2px var(--alt-fg);
}
h2 {
  width: 100%;
  font-family: var(--sans-serif);
  font-size: 2.47rem;
  margin: 0 0 1.24rem 0;
  padding: 0;
  text-shadow: 1px 2px var(--alt-fg);
}
h3 {
  width: 100%;
  font-size: 1.53rem;
  margin: 0 0 0.76rem 0;
  padding: 0;
}
h4,
p,
li {
  width: 100%;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  padding: 0;
}
h4 {
  color: var(--alt-fg);
}
p {
  text-align: justify;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
  cursor: pointer;
  color: var(--fg);
  text-decoration: underline 1px;
}
a:visited {
  color: var(--alt-fg);
}
a:hover,
a:focus,
a:active {
  color: var(--off-fg);
  text-decoration: underline 2px;
}
button,
.button {
  cursor: pointer;
  font-family: var(--sans-serif);
  font-size: 1rem;
  text-decoration: none;
  margin: 0;
  padding: calc(2 * var(--gap)) calc(4 * var(--gap));
  color: var(--off-fg);
  background: var(--alt-bg);
  border: 1px solid var(--off-bg-2);
}
button:hover,
.button:hover,
button:focus,
.button:focus,
button:active,
.button:active {
  background: var(--off-bg-2);
  text-decoration: none;
}
small,
figcaption {
  font-size: 0.85rem;
  margin: 0;
  padding: 0;
  color: var(--off-fg);
}
figure {
  margin: 0 auto;
  padding: 0;
}
figcaption {
  width: 100%;
  text-align: center;
}
ul {
  list-style: square;
  margin: 0;
}
code {
  width: 100%;
  background: var(--off-bg);
  margin: var(--gap-rel) 0;
  padding: 0;
  overflow-x: scroll;
}
code pre {
  font-family: "Courier New", monospace;
  margin: 0;
  padding: var(--gap);
}
hr {
  margin: var(--gap-rel);
  padding: 0;
  border-color: var(--alt-bg);
}
img {
  max-width: 100%;
  height: auto;
  filter: var(--img-filter);
  box-shadow: var(--img-box-shadow);
}

/* grid */
.wrapper {
  min-width: var(--page-min-size);
  max-width: var(--page-max-size);
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.col {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

/* grid elements */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--off-bg);
  border-bottom: 1px solid var(--alt-bg);
}
header nav {
  display: flex;
  flex-flow: column nowrap;
}
header nav #controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
header nav #controls a#logo h4 {
  font-family: var(--sans-serif);
  letter-spacing: 2px;
  padding: var(--gap);
  margin: 0;
}
header nav #controls a#logo,
header nav #controls a#logo:hover,
header nav #controls a#logo:focus,
header nav #controls a#logo:active,
header nav #controls a#logo:visited {
  cursor: pointer;
  color: var(--fg);
  text-decoration: none;
}
header nav #controls #menu-toggle {
  width: 5ch;
  padding: 0 var(--gap);
  border: 1px solid var(--alt-bg);
}
header nav #controls #menu-toggle::before {
  content: "☰";
}
/* header nav #controls #menu-toggle:active::before {
  content: "☓";
} */
header nav #menu {
  display: block;
  width: 100%;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--transition-duration) var(--transition-easing);
}
header nav:has(#menu ul li a:focus) #menu,
header nav:has(#menu-toggle:focus) #menu,
header nav:has(#menu-toggle:active) #menu {
  max-height: 14rlh;
}
header nav #menu ul {
  flex-flow: column nowrap;
}
header nav #menu ul li {
  border-top: 1px solid var(--off-bg-2);
}
header nav #menu ul li a {
  display: block;
  margin: 0;
  padding: var(--gap);
}
header nav #menu ul li.active {
  background: var(--alt-bg);
  border-bottom: 1px solid var(--bg);
}
header nav #menu ul li:nth-last-child(1),
header nav #menu ul li:nth-last-child(2) {
  text-align: right;
  margin-left: 0;
}
header nav #menu ul li a:active,
header nav #menu ul li a:focus,
header nav #menu ul li a:hover {
  background: var(--off-bg-2);
}
main {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--off-bg);
  border-bottom: 1px solid var(--off-bg);
}
section {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0 var(--gap);
  display: flex;
  flex-flow: column nowrap;
}
section:first-of-type {
  margin-top: calc(2 * var(--gap-rel));
}
section article {
  width: 100%;
  margin: 0;
  padding: var(--gap-rel) 0;
  border-bottom: 1px solid var(--alt-bg);
  display: flex;
  flex-flow: row wrap;
  column-gap: calc(2 * var(--gap));
}
section article:last-of-type {
  border-bottom: none;
}
footer {
  background: var(--off-bg-2);
  border-top: 1px solid var(--alt-bg);
}
footer section {
  margin: 0 !important;
}
footer section article p {
  text-align: center;
}

/* helpers */
.no-js {
  display: none;
}
.right {
  text-align: right;
}
.highlight {
  background: var(--off-bg);
  border: 1px solid var(--off-bg-2);
  padding: var(--gap);
}
.horizontal-list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.horizontal-list li {
  width: auto;
  margin: 0;
  padding: 0;
}
.buttons {
  width: 100%;
  margin: var(--gap-rel) 0;
  padding: var(--gap);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--gap);
}
.buttons button,
.buttons .button {
  flex-grow: 1;
}
.buttons button::before,
.buttons .button::before {
  content: "»";
  margin-right: var(--gap);
}

/* colors */
h1.architect-fg,
h1 .architect-fg,
h2.architect-fg,
h2 .architect-fg {
  text-shadow: 1px 2px var(--architect-bg);
}
h1.developer-fg,
h1 .developer-fg,
h2.developer-fg,
h2 .developer-fg {
  text-shadow: 1px 2px var(--developer-bg);
}
h1.leader-fg,
h1 .leader-fg,
h2.leader-fg,
h2 .leader-fg {
  text-shadow: 1px 2px var(--leader-bg);
}
h1.teacher-fg,
h1 .teacher-fg,
h2.teacher-fg,
h2 .teacher-fg {
  text-shadow: 1px 2px var(--teacher-bg);
}
.architect-fg {
  color: var(--architect-fg);
}
.developer-fg {
  color: var(--developer-fg);
}
.leader-fg {
  color: var(--leader-fg);
}
.teacher-fg {
  color: var(--teacher-fg);
}
.architect-bg {
  color: white !important;
  text-shadow: 1px 2px var(--architect-fg);
  background: var(--architect-bg) !important;
  border-color: var(--architect-fg) !important;
}
.developer-bg {
  color: white !important;
  text-shadow: 1px 2px var(--developer-fg);
  background: var(--developer-bg) !important;
  border-color: var(--developer-fg) !important;
}
.leader-bg {
  color: white !important;
  text-shadow: 1px 2px var(--leader-fg);
  background: var(--leader-bg) !important;
  border-color: var(--leader-fg) !important;
}
.teacher-bg {
  color: white !important;
  text-shadow: 1px 2px var(--teacher-fg);
  background: var(--teacher-bg) !important;
  border-color: var(--teacher-fg) !important;
}
.button.architect-bg:hover,
.button.architect-bg:focus,
.button.architect-bg:active {
  color: white;
  text-shadow: 1px 2px var(--architect-bg);
  background: var(--architect-fg);
}
.button.developer-bg:hover,
.button.developer-bg:focus,
.button.developer-bg:active {
  color: white;
  text-shadow: 1px 2px var(--developer-bg);
  background: var(--developer-fg);
}
.button.leader-bg:hover,
.button.leader-bg:focus,
.button.leader-bg:active {
  color: white;
  text-shadow: 1px 2px var(--leader-bg);
  background: var(--leader-fg);
}
.button.teacher-bg:hover,
.button.teacher-bg:focus,
.button.teacher-bg:active {
  color: white;
  text-shadow: 1px 2px var(--teacher-bg);
  background: var(--teacher-fg);
}

/* desktop */
@media (min-width: 800px) {
  :root {
    --gap-rel: 2rem;
  }
  header nav {
    flex-flow: row nowrap;
  }
  header nav #controls #menu-toggle {
    display: none;
  }
  header nav #menu {
    max-height: 100%;
    transition: none;
  }
  header nav #menu ul {
    flex-flow: row wrap;
  }
  header nav #menu ul li:nth-last-child(2) {
    margin-left: auto;
  }
  .col-2 {
    flex: 2;
  }
  .col-3 {
    flex: 3;
  }
}
