main section h2 {
  margin: var(--gap-rel) 0 0 0;
}
footer section article {
  padding: var(--gap) 0;
}
footer section article p {
  margin: 0;
}
p.button-container {
  text-align: right;
  margin: var(--gap-rel) 0;
}
p.button-container .button {
  display: inline-block;
}
@media (max-width: 960px) {
  p.button-container {
    text-align: center;
  }
  p.button-container .button {
    width: 100%;
  }
}
